#!/usr/bin/make -f

VIRTUALBOX_VERSION=$(shell cat debian/substvars | grep virtualbox:version= | cut -c 20-)

%:
	dh $@

override_dh_gencontrol:
	dh_gencontrol -- -Tdebian/substvars
	for pkg in $$(dh_listpackages -i); do \
		sed -i -e "s/@VIRTUALBOX_VERSION@/$(VIRTUALBOX_VERSION)/" debian/$$pkg/DEBIAN/postinst; \
	done
